<nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [nzTrigger]="null">
    <div class="sidebar-logo">
        <a routerLink="/home">
            <h1>Three Stars Transport Inc</h1>
        </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter>
            <a routerLink="/home">
                <nz-icon nzType="home"/>
                <span>Home</span>
            </a>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter>
            <a routerLink="/trucks">
                <nz-icon nzType="truck"/>
                <span>Trucks</span>
            </a>
        </li>
    </ul>
</nz-sider>